    <!-- ============================================ -->
    <!--                  FINAL CTA                   -->
    <!-- ============================================ -->

    <section id="contact-587">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0042.JPG">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0042.JPG">
                <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_0042.JPG" alt="room" width="900" height="675">
            </picture>
            <div class="cs-right">
                <div class="cs-content">
                    <span class="cs-topper">CONTACT US</span>
                    <h2 class="cs-title">Let's Get Started on Your Next Project</h2>
                    <p class="cs-text">
                        Reach out to Stein Design and Build in Syracuse, NY to start planning your next home improvement project.</p>
                </div>
                <!--Form-->
                <form class="cs-form" id="cs-form-587" name="Contact Form" method="post">
                    <label class="cs-label">
                        Name
                        <input class="cs-input" required type="text" id="name-587" name="name" placeholder="Name">
                    </label>
                    <label class="cs-label">
                        Phone
                        <input class="cs-input" required type="text" id="phone-587" name="phone" placeholder="Phone">
                    </label>
                    <label class="cs-label">
                        Email
                        <input class="cs-input" required type="text" id="email-587" name="email" placeholder="Email">
                    </label>
                    <label class="cs-label">
                        How did you hear about us?
                        <input class="cs-input" required type="text" id="hear-587" name="heat" placeholder="Google">
                    </label>
                    <label class="cs-label cs-message">
                        Message
                        <textarea class="cs-input cs-textarea" required name="Message" id="message-587" placeholder="Write message..."></textarea>
                    </label>
                    <a href="contact/" class="cs-button-4">SUBMIT</a>
                </form>
            </div>
        </div>
    </section>