<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<!--NOTE: Make sure the section above this footer has the same background color as the footer for a seamless trasition between them-->

<footer id="cs-footer-1783">
    <!--Contact Info-->
    <div class="cs-card-group">
        <div class="cs-card">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/gym-footer-location-pin.svg" alt="location" loading="lazy" decoding="async" height="32" width="32">
            </picture>
            <div class="cs-flex">
                <h3 class="cs-h3">Location</h3>
                <span class="cs-card-info">7734 State Route 298 ,<br> Kirkville, NY, 13082</span>
            </div>
        </div>
        <div class="cs-card">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/gym-footer-clock.svg" alt="clock" loading="lazy" decoding="async" height="32" width="32">
            </picture>
            <div class="cs-flex">
                <h3 class="cs-h3">Working Hours</h3>
                <span class="cs-card-info">Mon - Sat: 7:00AM - 7:00PM </span>
                <span class="cs-card-info">Sunday: Closed</span>
            </div>
        </div>
        <div class="cs-card">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/gym-footer-call.svg" alt="phone" loading="lazy" decoding="async" height="32" width="32">
            </picture>
            <div class="cs-flex">
                <h3 class="cs-h3">Contact</h3>
                <a href="tel:{{client.phoneForTel}}" class="cs-card-info">{{client.phoneFormatted}} </a>
                <a href="mailto:{{client.email}}" class="cs-card-info" id="small" type="email">{{client.email}}</a>
            </div>
        </div>
    </div>
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="/">
                <picture class="cs-logo">
                    <img decoding="async" src="/assets/svgs/logo-large.svg" alt="Stein Design And Build" width="255" height="166">
                </picture>
            </a>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Our Services</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/services/walkways">Walkways</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services/patio">Patios</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services/additions">Additions</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/services/remodeling">Interior Remodeling</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <span class="cs-header">Useful Links</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="/about">About Us</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/portfolio">Photo Gallery</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/faq">FAQ</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="cs-contact">
            <div class="cs-contact-info">
                <span class="cs-topper">Give Us A Call</span>
                <a href="tel:{{client.phoneForTel}}" class="cs-contact-link">{{client.phoneFormatted}}</a>
            </div>
            <div class="cs-contact-info">
                <span class="cs-topper">Shoot Us An Email</span>
                <a href="mailto:{{client.email}}" class="cs-contact-link">{{client.email}}</a>
            </div>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2024 - <a href="/" class="cs-credit-link" target="_blank">Stein Design And Build, LLC</a>
        </span>
        <div class="cs-bottom-links">
            <span class="cs-bottom-link">
                Hand Coded By <a href="https://www.southerntierwebdesigns.com/">Southern Tier Web Designs</a>
            </span>
        </div>
    </div>
    <!--Background Image-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/1033-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/1033.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/1033.jpg" alt="pool and deck" width="1920" height="1440">
        </picture>
</footer>
                                