---
title: 'About Us | Stein Design and Build'
description: 'Learn about Stein Design and Build, a premier general contracting company in Syracuse, NY. With over 15 years of experience, we specialize in high-quality construction, including walkways, patios, home additions, and interior remodeling. Discover our commitment to excellence and customer satisfaction.'
preloadImg: '/assets/images/Exterior/IMG_1599.JPG'
permalink: '/about/'
eleventyNavigation:
    key: About
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="preload" as="image" href="/assets/images/Exterior/IMG_0274.JPG">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1401">
        <div class="cs-container">
            <span class="cs-int-title">About Us</span>
            <div class="cs-breadcrumbs">
                <a href="" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">About</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0274.JPG">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0274.JPG">
            <img decoding="async" src="/assets/images/Exterior/IMG_0274.JPG" alt="stone patio" width="1920" height="782" aria-hidden="true">
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-317">
        <div class="cs-container">
            <!-- Left Image Section -->
            <picture class="cs-picture">
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_1599.JPG">
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_1599.JPG">
                <img decoding="async" src="/assets/images/Exterior/IMG_1599.JPG" alt="stone patio" width="600" height="800" aria-hidden="true">
            </picture>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">WHO WE ARE</span>
                <h2 class="cs-title">Your Trusted Partner In All Things Home Improvement</h2>
                <p class="cs-text">
                    Stein Design and Build has grown from a small operation into a leading general contracting company in Syracuse. Our founder, Andrew Stein, began working in construction at the age of 14 and has since dedicated his career to crafting high-end, high-quality projects. This deep-rooted passion for building and commitment to excellence has been the driving force behind our success. With each project, we strive to push the boundaries of innovation and creativity, ensuring that our clients receive exceptional results tailored to their unique visions and requirements.
                </p>
                <p class="cs-text">
                    Over the years, we have built a reputation for our meticulous attention to detail, superior craftsmanship, and exceptional client communication. Our extensive experience and dedication to our craft have allowed us to consistently exceed client expectations and deliver projects that not only meet but surpass industry standards. By fostering strong relationships with our clients, we ensure transparency and trust throughout every phase of the project, making the construction process seamless and stress-free.
                </p>
                <a href="/contact" class="cs-button-4">GET AN ESTIMATE</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-1256">
        <div class="cs-container">
            <div class="cs-image-group">
                <!--Top left image-->
                <picture class="cs-picture cs-picture1">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_1594.JPG">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_1594.JPG">
                    <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_1594.JPG" alt="stone patio" width="600" height="450">
                </picture>
                <!--Bottom right image-->
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/Interior/Ad-1-Nice-Fireplace.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/Interior/Ad-1-Nice-Fireplace.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Interior/Ad-1-Nice-Fireplace.jpg" alt="stone fireplace" width="461" height="300">
                </picture>
                <!--Stripe background-->
                <picture class="cs-waves-wrapper">
                    <img class="cs-waves" loading="lazy" decoding="async" src="/assets/svgs/svg-waves.svg" alt="stripes" width="650" height="933" aria-hidden="true">
                </picture>
                <div class="cs-box">
                    <span class="cs-number">10,000+</span>
                    <span class="cs-desc">Sq. Ft. Pavers Installed</span>
                </div>
            </div>
            <div class="cs-content">
                <span class="cs-topper">INTERIOR & EXTERIOR SERVICES</span>
                <h2 class="cs-title">One Stop Shop Whether It's Inside Or Outside</h2>
                <p class="cs-text">
                    We offer a range of high-quality construction services tailored to meet your specific needs. With our extensive experience and dedication to excellence, we ensure every project is completed to the highest standards. Our commitment to using premium materials and innovative techniques guarantees superior results every time. Here are our top services:
                </p>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="icon" width="24" height="24" aria-hidden="true">
                        Walkways: Beautiful, functional pathways.
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="icon" width="24" height="24" aria-hidden="true">
                        Patios: Custom outdoor spaces.
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="icon" width="24" height="24" aria-hidden="true">
                        Additions: Seamless home expansions.
                    </li>
                    <li class="cs-li">
                        <img class="cs-li-img" loading="lazy" decoding="async" src="/assets/svgs/checked.svg" alt="icon" width="24" height="24" aria-hidden="true">
                        Interior Remodeling: Transformative interior upgrades.
                    </li>
                </ul>
                <a href="/contact" class="cs-button-4">GET A QUOTE</a>
            </div>
        </div>
    </section>
                                    

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-355">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">REVIEWS</span>
                <h2 class="cs-title">Trusted by Homeowners in Syracuse, NY</h2>
                <p class="cs-text">
                    Our commitment to quality craftsmanship and exceptional service has earned us the trust and satisfaction of homeowners throughout Syracuse, NY. Read what our clients have to say about their experience with Stein Design and Build and see why we're the preferred choice for home improvement.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                    <span class="cs-trait">Quality</span>
                    <p class="cs-review">
                        Andrew and his crew were professional, talented and had an amazing attention to detail. That's exactly what I would expect from a crew of Veterans. I highly recommend Stein Design and Build for all paver hardscaping and I will definitely be using them again in the future.
                    </p>
                    <span class="cs-name">- Todd</span>
                </li>
                <li class="cs-item">
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                    <span class="cs-trait">Professionalism</span>
                    <p class="cs-review">
                        Andrew and his team did a fantastic job of getting rid of my very old and unsightly pool concrete and updating it. The price was reasonable, the timing was great and the team was meticulous in making sure the job was done right! Highly recommend and have already sent friends along as well! It's like I have a brand new pool for a fraction of the cost!!!
                    </p>
                    <span class="cs-name">- Colleen</span>
                </li>
                <li class="cs-item">
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                    <span class="cs-trait">Responsiveness</span>
                    <p class="cs-review">
                        Andrew has a vision that is both unique and beautiful. His work is some of the best we've seen and we are so proud of our beautiful patios, sidewalk and front wall. Andrew is professional in his communication and his work ethic exceeds expectations.
                    </p>
                    <span class="cs-name">- Judy</span>
                </li>
            </ul>
            <a href="/contact" class="cs-button-4">GET AN ESTIMATE</a>
        </div>
    </section>   

    {% include 'components/cta.html' %}
{% endblock %}