---
title: 'Frequently Asked Questions | Stein Design and Build'
description: 'Find answers to common questions about our contracting services at Stein Design and Build in Syracuse, NY. Learn more about our process, pricing, project timelines, and more.'
preloadImg: 
    - '/assets/images/Exterior/IMG_0274.JPG'
    - '/assets/images/Exterior/IMG_1172.JPG'
permalink: 'faq/'
eleventyNavigation:
    key: FAQ
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css">
    <script defer src="/assets/js/faq.js"></script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1401">
        <div class="cs-container">
            <span class="cs-int-title">Frequently Asked Questions</span>
            <div class="cs-breadcrumbs">
                <a href="" class="cs-link">Home</a>
                <a href="" class="cs-link cs-active">FAQ</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0274.JPG">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0274.JPG">
            <img decoding="async" src="/assets/images/Exterior/IMG_0274.JPG" alt="stone patio" width="1920" height="782" aria-hidden="true">
        </picture>
    </div>
    
    <!-- ============================================ -->
    <!--                     FAQ                      -->
    <!-- ============================================ -->

    <section id="faq-1466">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_1172.JPG">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_1172.JPG">
                <img decoding="async" src="/assets/images/Exterior/IMG_1172.JPG" alt="stone fire pit" width="700" height="525" aria-hidden="true">
            </picture>
            <div class="cs-content">
                <span class="cs-topper">FAQ</span>
                <h2 class="cs-title">Frequently Asked Questions</h2>
                <ul class="cs-faq-group">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item active">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How much should I expect to pay for my project?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            It's always helpful to go into a project with a rough idea of what you can expect to spend. 
                            Below are common prices for different projects. Note that these are estimates and actual costs can vary widely.
                        </p>
                        <ul class="cs-item-ul">
                            <li>Walkways: $2,500 - $10,000</li>
                            <li>Patios: $8,000 - $22,000</li>
                            <li>Kitchen Remodel: $10,000 - $25,000</li>
                            <li>Bathroom Remodel: $8,000 - $23,000</li>
                            <li>Home Addition: $14,000 - $40,000</li>
                            <li>Pool Surroundings: $9,000 - $33,000</li>
                            <li>Retaining Wall: $3,000 - $8,000</li>
                            <li>Fire Pit: $1,500 - $7,500</li>

                        </ul>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Do you offer free consultations and estimates?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Yes, we offer free consultations and detailed estimates to help you plan your project with confidence. Whether you have a clear vision or need guidance in designing your perfect space, our team is here to assist you every step of the way. Contact us today to schedule your consultation and take the first step toward transforming your property with Stein Design and Build in Syracuse, NY.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What types of projects does Stein Design and Build specialize in?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Stein Design and Build specializes in a wide range of high-quality contracting and remodeling services in Syracuse, NY. Our expertise includes walkways, patios, home additions, retaining walls, outdoor kitchens and firepits, stairs, pergolas and gazebos, driveways, outdoor lighting, bathroom and kitchen remodeling, basement finishing, and windows and doors.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                How long has Stein Design and Build been in business?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Stein Design and Build has over 15 years of experience in the construction industry. Our team brings a wealth of knowledge and expertise to each project, ensuring high-quality craftsmanship and customer satisfaction. We have successfully completed numerous projects, gaining more than 30 five-star reviews from satisfied clients.
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                What is the typical timeline for a home addition project?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            The timeline for a home addition project can vary based on the size and complexity of the project. Generally, a home addition can take anywhere from a few weeks to several months. During your consultation, we will provide a detailed project timeline based on your specific needs and ensure regular updates throughout the construction process.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
                                

    {% endblock %}