/*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1401 {
    padding: var(--sectionPadding);
    /* 190px - 268px */
    padding-top: clamp(11.875rem, 25vw, 16.75rem);
    padding-bottom: 6.25rem;
    /* clips the line from causing overflow issues for going off screen */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #banner-1401 .cs-container {
    text-align: center;
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* 8px - 12px */
    gap: clamp(0.5rem, 1vw, 0.75rem);
  }
  #banner-1401 .cs-int-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-family: "Rokkitt";
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    position: relative;
    text-align: left;
  }
  #banner-1401 .cs-breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1401 .cs-link {
    font-size: 1rem;
    line-height: 1.2em;
    text-decoration: none;
    color: var(--bodyTextColorWhite);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner-1401 .cs-link:last-of-type {
    /* remove the chevron on the last list item */
  }
  #banner-1401 .cs-link:last-of-type::after {
    display: none;
  }
  #banner-1401 .cs-link:after {
    /* chevron */
    content: "";
    width: 0.4375rem;
    height: 0.75rem;
    margin: 0 1rem;
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: block;
  }
  #banner-1401 .cs-link.cs-active {
    color: var(--primary);
  }
  #banner-1401 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #banner-1401 .cs-background:before {
    /* gradient overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1401 .cs-background:after {
    content: "";
    width: 100%;
    height: 100%;
    background: #131313;
    opacity: 0.7;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #banner-1401 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #banner-1401 .cs-background:before {
    width: 50%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
  }
}
/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-317 {
    padding: var(--sectionPadding);
    background: var(--primary-background);
  }
  #sbs-317 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-317 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-317 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-317 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-317 .cs-picture {
    /* set font size to scale with view width, stopping at 68% the value of em */
    font-size: min(2.16vw, 0.68em);
    width: 32.5em;
    height: 42.5em;
    /* margin top and bottom to match the exact amount the grey square overflows the parent for consistent spacing */
    margin: 3em 0;
    position: relative;
    display: block;
  }
  #sbs-317 .cs-picture:before {
    /* grey box */
    content: "";
    width: 100%;
    height: 100%;
    background: #323232;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    transform: rotate(15deg);
  }
  #sbs-317 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-317 .cs-container {
    max-width: 80rem;
    /* set to horizontal arrangement */
    flex-direction: row;
    justify-content: center;
    /* 77px - 160px */
    gap: clamp(4.8125rem, 10vw + 1rem, 10rem);
  }
  #sbs-317 .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #sbs-317 .cs-picture {
    font-size: min(1.1vw, 1em);
    margin: 3.5em 0 3.5em 5em;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #sbs-317 .cs-circles {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #sbs-317 .cs-ring-wrapper {
    /* breaks the children out of the container.  They can now be arranged as if thy are all children of the cs-circle */
    display: contents;
  }
  #sbs-317 .cs-ring {
    /* make the ring position absolute so it can sit on top of the other elements that are centered relatively in the cs-circle */
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-317 .cs-number {
    /* make the number relative positioning so it and the cs-desc can position themselves around each other */
    position: relative;
    top: auto;
    left: auto;
    transform: none;
  }
  #sbs-317 .cs-desc {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1256 {
    padding: var(--sectionPadding);
    overflow: hidden;
    background: var(--alt-background);
  }
  #sbs-1256 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1256 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    /* changes to 433px at desktop */
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1256 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1256 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1256 .cs-ul {
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    /* clips the bullets to create the half circle */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }
  #sbs-1256 .cs-li {
    list-style: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
  }
  #sbs-1256 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1256 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-1256 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1256 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
    font-size: min(2.15vw, 0.8em);
    width: 42.375em;
    height: 36.75em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1256 .cs-picture {
    position: absolute;
  }
  #sbs-1256 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1256 .cs-picture1 {
    width: 39.375em;
    height: 24.375em;
    top: 0;
    right: 0;
    z-index: 10;
  }
  #sbs-1256 .cs-picture2 {
    width: 28.8125em;
    height: 18.75em;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  #sbs-1256 .cs-box {
    width: 12.3125em;
    height: 11.125em;
    padding: 0.5em;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--button-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    right: 0;
    bottom: 0;
  }
  #sbs-1256 .cs-number {
    /* 20px - 39px */
    font-size: clamp(1.25rem, 4vw, 2.4375rem);
    text-align: center;
    line-height: 1.2em;
    font-weight: 700;
    width: 100%;
    /* 4px - 8px */
    margin: 0 0 clamp(0.25rem, 1vw, 0.5rem);
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #sbs-1256 .cs-desc {
    /* 12px - 16px */
    font-size: clamp(0.75rem, 1.9vw, 1rem);
    text-align: center;
    line-height: 1.2em;
    font-weight: 700;
    width: 100%;
    max-width: 12ch;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #sbs-1256 .cs-waves-wrapper {
    /* changes to 100% at desktop */
    width: 100vw;
    height: 150%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    /* changes at desktop */
    transform: translateX(-50%);
  }
  #sbs-1256 .cs-waves-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1256 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbs-1256 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbs-1256 .cs-waves-wrapper {
    width: 100%;
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-355 {
    padding: var(--sectionPadding);
    background: var(--alt-background);
  }
  #reviews-355 .cs-container {
    width: 100%;
    max-width: 90rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #reviews-355 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-355 .cs-card-group {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 2.5vw, 1.15rem);
  }
  #reviews-355 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 39.375rem;
    margin: 0;
    /* 24px - 32px top & bottom */
    /* 16px - 40px left & right */
    padding: clamp(1.5rem, 3.15vw, 2rem) clamp(1rem, 3.15vw, 2.5rem);
    background-color: var(--primary-background);
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  #reviews-355 .cs-quote {
    width: 2.5rem;
    height: auto;
    margin-bottom: 2rem;
    display: block;
  }
  #reviews-355 .cs-review {
    /* 14px - 20px */
    font-size: var(bodyFontSize);
    line-height: 1.5em;
    margin: 0;
    /* 20px - 40px */
    margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  #reviews-355 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;
    /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
    margin-top: auto;
    color: var(--primary);
    display: block;
  }
  #reviews-355 .cs-trait {
    /* 14px - 16px */
    font-size: clamp(1.5rem, 2vw, 1.5rem);
    line-height: 1.5em;
    margin-bottom: clamp(0.75rem, 1.75vw, 1.5rem);
    color: var(--bodyTextColor);
    font-family: "Rokkitt";
    font-weight: 800;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-355 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }
  #reviews-355 .cs-item {
    width: clamp(31.5%, 30vw, 32.3%);
  }
}

/*# sourceMappingURL=about.css.map */
