/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-343 {
    padding: var(--sectionPadding);
    background: var(--primary-background);
  }
  #services-343 .cs-container {
    width: 100%;
    /* changes to 1440px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-343 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #services-343 .cs-card-group {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* 16px - 20px */
    gap: clamp(1rem, 1.6vw, 1.25rem);
  }
  #services-343 .cs-item {
    list-style: none;
    width: 100%;
    max-width: 31.25rem;
    border: 2px solid #2a2a2a;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  #services-343 .cs-item:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
    transform: translateY(-0.4375rem);
  }
  #services-343 .cs-item:hover .cs-picture img {
    opacity: 0.4;
    transform: scale(1.1);
  }
  #services-343 .cs-item:hover .cs-h3 {
    color: var(--secondary);
  }
  #services-343 .cs-item:before {
    /* border, done in pseudo so it can sit under the picture */
    content: "";
    width: 100%;
    height: 100%;
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    background: transparent;
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #services-343 .cs-link {
    text-decoration: none;
    /* 16px - 24px */
    padding-bottom: clamp(1rem, 2.2vw, 1.5rem);
    display: block;
  }
  #services-343 .cs-picture {
    width: 100%;
    height: 15rem;
    /* 16px - 24px */
    margin-bottom: clamp(1rem, 2.2vw, 1.5rem);
    background-color: #3E6680;
    /* clips the img tag corners */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 10;
  }
  #services-343 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.6s, opacity 0.3s;
  }
  #services-343 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: 700;
    color: var(--bodyTextColor);
    margin: 0 0 0.75rem 0;
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2vw, 1.5rem);
    transition: color 0.3s;
  }
  #services-343 .cs-item-text {
    /* 14px - 16px  */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    margin: 0;
    /* 16px - 24px */
    padding: 0 clamp(1rem, 2.2vw, 1.5rem);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-343 .cs-container {
    max-width: 90rem;
  }
  #services-343 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #services-343 .cs-item {
    width: 48.9%;
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-343 .cs-item {
    /* we do this so it's stackable. You can add any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw or 23% to get the desired sizes fit 4 in a row and then stack when you add more */
    width: clamp(23.8%, 23vw, 23.95%);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-683 {
    padding: var(--sectionPadding);
    /* clips the zigzag graphic so it doesn't cause overflow issues */
    overflow: hidden;
    background: var(--alt-background);
  }
  #sbs-683 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-683 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-683 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-683 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-683 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-683 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #sbs-683 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-683 .cs-image-group {
    /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
    font-size: min(2.3vw, 0.75em);
    width: 39.5em;
    height: 51.25em;
    position: relative;
    z-index: 1;
  }
  #sbs-683 .cs-picture {
    width: 19.125em;
    height: 22.5em;
    overflow: hidden;
    display: block;
    position: absolute;
  }
  #sbs-683 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-683 .cs-picture1 {
    top: 5em;
    left: 0;
  }
  #sbs-683 .cs-picture2 {
    top: 0;
    right: 0;
  }
  #sbs-683 .cs-picture3 {
    bottom: 0;
    left: 0;
  }
  #sbs-683 .cs-picture4 {
    bottom: 5em;
    right: 0;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-683 .cs-container {
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-683 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-298 {
    padding: var(--sectionPadding);
    background: var(--primary-background);
    /* Mobile - 360px */
  }
  #sbsr-298 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #sbsr-298 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: start;
  }
  #sbsr-298 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-298 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-298 .cs-link {
    font-size: 1.25rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--primary);
  }
  #sbsr-298 .cs-image-group {
    width: 100%;
    max-width: 34.375rem;
    /* 78px - 108px */
    margin: 0 auto clamp(4.875rem, 16.5vw, 6.75rem);
    position: relative;
    display: block;
    /* width divided by height */
    aspect-ratio: 328/363;
  }
  #sbsr-298 .cs-picture {
    /* big background image */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #sbsr-298 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #sbsr-298 .cs-box {
    /* 204px - 326px & changes at desktop */
    width: clamp(12.75rem, 50vw, 20.375rem);
    height: clamp(12.75rem, 50vw, 20.375rem);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 50%;
    /* 38px - 60px - wrapped in a calc function to make clamp values negative */
    bottom: calc(clamp(2.375rem, 7.9vw, 3.75rem) * -1);
    transform: translateX(-50%);
    z-index: 10;
  }
  #sbsr-298 .cs-box-picture {
    /* Background image for cs-box */
    width: 100%;
    height: 100%;
    background-color: #000;
    /* clips img corners and bg corners */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
  }
  #sbsr-298 .cs-box-picture img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.65;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #sbsr-298 .cs-number {
    /* 75px - 100px */
    font-size: clamp(6.6875rem, 10vw, 8.25rem);
    font-family: "Rokkitt";
    line-height: 1em;
    font-weight: 900;
    margin-bottom: 0.5rem;
    color: black;
    /* creates the transparent clipping text */
    mix-blend-mode: screen;
    display: block;
    z-index: 10;
  }
  #sbsr-298 .cs-number:before {
    /* opaque white box - For mix-blend-mode to work, we need the 
       white box inside the .cs-number, so we use a pseudo element.
       We DON'T add a position to the cs-number so the pseudo positions
       itself relative to the .cs-box, which has position relative. This
       allows us to center to .cs-number pseudo inside the .cs-box */
    content: "";
    /* 184px - 294px & changes at desktop */
    width: clamp(11.5rem, 45vw, 18.375rem);
    height: clamp(11.5rem, 45vw, 18.375rem);
    opacity: 1;
    background-color: #fff;
    position: absolute;
    display: block;
    /* these next 3 properties are an old school way to center an absolutely
       positioned element inside a relative position parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  #sbsr-298 .cs-desc {
    /* 16px - 25px */
    font-size: clamp(1rem, 4vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-transform: lowercase;
    text-align: center;
    width: 80%;
    color: black;
    position: relative;
    z-index: 10;
  }
  #sbsr-298 #stats-833 {
    width: 100%;
    max-width: 25rem;
    padding: 0;
    padding-bottom: 4.25rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
  }
  #sbsr-298 #stats-833 .cs-item {
    list-style: none;
    width: 32%;
    max-width: 9.375rem;
    /* making flex so we can align a heading with 1 line to the bottom */
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-content: space-between;
  }
  #sbsr-298 #stats-833 .cs-stat-number {
    /* 39px - 49px */
    font-size: clamp(2rem, 4.5vw, 2.5rem);
    font-family: "Rokkitt";
    line-height: 1.2em;
    font-weight: 700;
    text-align: left;
    color: var(--primary);
    display: block;
    /* 8px - 16px */
    margin: 0 0 clamp(0.25rem, 0.5vw, 1rem);
  }
  #sbsr-298 #stats-833 .cs-h3 {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 1.2em;
    text-align: left;
    /* auto margin top will push text to bottom if there's only one line */
    margin: auto 0 0;
    color: var(--bodyTextColorWhite);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-298 {
    /* aligns the button */
    text-align: left;
  }
  #sbsr-298 .cs-container {
    max-width: 80rem;
    /* set to horizontal arrangement */
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
  }
  #sbsr-298 .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #sbsr-298 .cs-image-group {
    width: 40vw;
    max-width: 32.5625rem;
    /* 520px - 672px */
    height: clamp(32.5rem, 51.9vw, 42rem);
    margin: 0;
    /* sends it to the right in the 2nd position */
    order: 2;
  }
  #sbsr-298 .cs-box {
    /* 251px - 325px */
    width: clamp(15.6875rem, 24.5vw, 20.3125rem);
    height: clamp(15.6875rem, 24.5vw, 20.3125rem);
    left: auto;
    transform: none;
    /* -52px to -102px */
    left: calc(clamp(3.25rem, 5.5vw + 1.6rem, 6.375rem) * -1);
    /* 62px - 80px */
    bottom: clamp(3.875rem, 6.2vw, 5rem);
  }
  #sbsr-298 .cs-stat-number:before {
    /* 226px - 293px */
    width: clamp(14.125rem, 22.7vw, 18.3125rem);
    height: clamp(14.125rem, 22.7vw, 18.3125rem);
  }
}
/*-- -------------------------- -->
<---          Process           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #process-688 {
    padding: var(--sectionPadding);
    background-color: var(--primary);
    position: relative;
    z-index: 1;
  }
  #process-688 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #process-688 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #process-688 .cs-topper {
    color: var(--bodyTextColor);
  }
  #process-688 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #process-688 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #process-688 .cs-card-group {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 1.25rem;
    row-gap: 2.5rem;
  }
  #process-688 .cs-item {
    text-align: center;
    list-style: none;
    width: 100%;
    max-width: 25.8125rem;
  }
  #process-688 .cs-picture {
    width: 6.25rem;
    height: 6.25rem;
    margin: auto;
    margin-bottom: 1.5rem;
    background-color: #fdfaf8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #process-688 .cs-icon {
    width: auto;
    height: 2.75rem;
    display: block;
  }
  #process-688 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.75rem;
    color: #fff;
  }
  #process-688 .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
  }
  #process-688 .cs-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.02;
    /* Makes img tag act as a background image */
    object-fit: cover;
    z-index: -1;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #process-688 .cs-card-group {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
  }
  #process-688 .cs-item {
    width: 48%;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #process-688 .cs-item {
    width: clamp(23.45%, 22vw, 23.8%);
  }
}
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
  #gallery {
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
    padding: var(--sectionPadding);
    /* Centers button */
    text-align: center;
    background: var(--primary-background);
  }
  #gallery .cs-container {
    margin: auto;
    max-width: 82.625em;
    width: 100%;
  }
  #gallery .cs-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #gallery .cs-title {
    margin-bottom: 2.5rem;
    max-width: 38.8125rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  #gallery .cs-image-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 3.75rem;
    max-width: 82.625em;
    width: 100%;
    padding: 0;
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    gap: 1.875em;
  }
  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .cs-picture {
    position: relative;
    display: block;
  }
  #gallery .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery .cs-row-1 .cs-picture1 {
    height: 35.4375em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture2 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-1 .cs-picture3 {
    height: 32em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture1 {
    height: 30.75em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture2 {
    height: 32.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-2 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture1 {
    height: 39.0625em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture2 {
    height: 28.25em;
    width: 26.25em;
  }
  #gallery .cs-row-3 .cs-picture3 {
    height: 39.3125em;
    width: 26.25em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #gallery .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews {
    padding: var(--sectionPadding);
    /* Centers the button */
    text-align: center;
  }
  #reviews .cs-container {
    margin: auto;
    max-width: 69rem;
    width: 100%;
  }
  #reviews .cs-topper {
    margin-bottom: 1rem;
    text-align: center;
  }
  #reviews .cs-title {
    max-width: 43.75rem;
    text-align: center;
  }
  #reviews .cs-text {
    /* 88px - 104px */
    margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
    max-width: 40.625rem;
    text-align: center;
  }
  #reviews .cs-card-group {
    /* 48px - 64px */
    margin: 0 auto clamp(3rem, 5vw, 4rem);
    padding: 0;
  }
  #reviews .cs-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    margin: 0 auto 4rem;
    background: #fff;
    max-width: 33.875rem;
    width: 100%;
    /* Prevents padding from affecting height & width */
    box-sizing: border-box;
    /* Padding L & R - 16px - 32px */
    padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
    /* 32px - 40px */
    padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
    list-style: none;
    text-align: left;
    box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
  }
  #reviews .cs-item:last-of-type {
    margin-bottom: 0;
  }
  #reviews .cs-item-img {
    position: absolute;
    top: -2.5rem;
    height: 5rem;
    width: 5rem;
  }
  #reviews .cs-item-p {
    border-bottom: 1px solid #e8e9ec;
    margin: 0 0 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.5em;
    color: var(--bodyTextColor);
  }
  #reviews .cs-reviewer {
    display: block;
    margin: 0 auto 0 0;
    width: 40%;
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 700;
    color: var(--headerColor);
  }
  #reviews .cs-desc {
    display: block;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(#353535);
  }
  #reviews .cs-item-stars {
    height: 1rem;
    width: 6rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews .cs-card-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #reviews .cs-item {
    /* reset margin so it won't interfere with flexbox */
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #reviews .cs-title,
  body.dark-mode #reviews .cs-text,
  body.dark-mode #reviews .cs-item-p,
  body.dark-mode #reviews .cs-reviewer {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews .cs-item {
    background: var(--medium);
  }
  body.dark-mode #reviews .cs-desc {
    color: var(--primaryLight);
  }
}

/*# sourceMappingURL=local.css.map */
