---
title: 'Expert Contracting Services | Stein Design and Build | Syracuse, NY'
description: 'Stein Design and Build is the premier general contracting company in Syracuse, NY. Specializing in custom home additions, walkways, patios, and more, we bring over 15 years of experience to every project. Transform your space with our expert craftsmanship and high-quality designs.'
preloadImg:
    - '/assets/images/Exterior/Miller-Project-1.jpg',
    - '/assets/images/logo-large.png'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-998">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Welcome To</span>
                <!--Logo-->
                <picture class="cs-logo">
                    <source media="(max-width: 600px)" srcset="/assets/images/logo-large.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/logo-large.png">
                    <img decoding="async" src="/assets/images/logo-large.png" alt="Stein Design And Build" width="614" height="288">
                </picture>
                <p class="cs-text">
                    Transform your home with expert craftsmanship from Stein Design and Build in Syracuse, NY.
                </p>
                <a href="contact/" class="cs-button-4">GET AN ESTIMATE</a>
            </div>
        </div>
        <!--Background Image-->
        <!--Image is also set as background image in CSS at 1400px for parallax effect-->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Miller-Project-1-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Miller-Project-1.jpg">
            <img decoding="async" src="/assets/images/Exterior/Miller-Project-1.jpg" alt="pool and deck" width="1920" height="1440">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-343">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">OUR SERVICES</span>
                <h2 class="cs-title">Crafting Beautiful and Lasting Spaces</h2>
                <p class="cs-text">
                    At Stein Design and Build, we specialize in turning your home improvement dreams into reality. Our comprehensive range of services is designed to enhance both the beauty and functionality of your living spaces.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0273.JPG">
                            <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0273.JPG">
                            <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_0273.JPG" alt="stone walkway" width="680" height="510" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Walkways</h3>
                        <p class="cs-item-text">
                            Enhance your outdoor space with our expertly designed and constructed walkways. Our team ensures durability and quality craftsmanship in every project.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0015.JPG">
                            <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0015.JPG">
                            <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_0015.JPG" alt="patio with stone fireplace" width="680" height="510" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Patios</h3>
                        <p class="cs-item-text">
                            Create the perfect outdoor retreat with our custom patio solutions. Whether you envision a cozy space for family gatherings or a stylish area for entertaining guests, our patios are designed to meet your needs. 
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_1701.JPG">
                            <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_1701.JPG">
                            <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_1701.JPG" alt="addition on house" width="680" height="510" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Additions</h3>
                        <p class="cs-item-text">
                            Expand your living space with our professional home addition services. From additional bedrooms and bathrooms to larger kitchens and living areas, we handle every aspect of the construction process. 
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/Interior/Ad-5-backsplash.jpg">
                            <source media="(min-width: 601px)" srcset="/assets/images/Interior/Ad-5-backsplash.jpg">
                            <img loading="lazy" decoding="async" src="/assets/images/Interior/Ad-5-backsplash.jpg" alt="kitchen remodel" width="680" height="510" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Interior Remodeling</h3>
                        <p class="cs-item-text">
                            Whether it's a kitchen overhaul, a bathroom update, or a complete home makeover, our skilled craftsmen bring your vision to life. We focus on quality, detail, and efficiency to deliver stunning results that transform your living spaces.
                        </p>
                    </a>
                </li>
            </ul>
            <a href="contact/" class="cs-button-4">GET FREE ESTIMATE</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-683">
        <div class="cs-container">
            <!-- Left Section -->
            <div class="cs-image-group">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0483.JPG">
                    <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0483.JPG">
                    <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_0483.JPG" alt="patio with stone fireplace" width="600" height="450" aria-hidden="true">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_1172.JPG">
                    <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_1172.JPG">
                    <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_1172.JPG" alt="patio with stone fireplace" width="600" height="800" aria-hidden="true">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="/assets/images/Exterior/Miller-Lighting.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Exterior/Miller-Lighting.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/Exterior/Miller-Lighting.jpg" alt="back deck and patio" width="600" height="450" aria-hidden="true">
                </picture>
                <picture class="cs-picture cs-picture4">
                    <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0464.JPG">
                    <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0464.JPG">
                    <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_0464.JPG" alt="patio with wooden overhang" width="600" height="800" aria-hidden="true">
                </picture>
            </div>
            <div class="cs-content">
                <span class="cs-topper">FEATURED SERVICE</span>
                <h2 class="cs-title">Create Your Perfect Outdoor Retreat With A Beautiful Patio</h2>
                <p class="cs-text">
                    Transform your backyard into a beautiful, functional living space with our custom patio solutions. Whether you want a cozy area for family gatherings or a stylish spot for entertaining guests, our expert team designs and builds patios to meet your unique needs and preferences.
                </p>
                <p class="cs-text">
                    Using top-quality materials and innovative designs, we craft patios that not only enhance the aesthetic appeal of your home but also provide a durable and enjoyable outdoor space. Trust Stein Design and Build to deliver exceptional craftsmanship and create the perfect patio for your lifestyle in Syracuse, NY.
                </p>
                <a href="contact/" class="cs-button-4">GET AN ESTIMATE</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Experience                   -->
    <!-- ============================================ -->

    <section id="sbsr-298">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-image-group">
                <!--Floating Box-->
                <div class="cs-box">
                    <span class="cs-number">15</span>
                    <span class="cs-desc">years of experience</span>
                    <!--Background image for cs-box-->
                    <picture class="cs-box-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_1605.JPG">
                        <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_1605.JPG">
                        <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_1605.JPG" alt="patio and pavilion" width="650" height="488" aria-hidden="true">
                    </picture>
                </div>
                <!--Big Background Image-->
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0428.JPG">
                    <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0428.JPG">
                    <img loading="lazy" decoding="async" src="/assets/images/Exterior/IMG_0428.JPG" alt="grassy yard" width="1040" height="780" aria-hidden="true">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-content">
                <span class="cs-topper">ABOUT US</span>
                <h2 class="cs-title">Your Trusted Partner In Home Renovation </h2>
                <p class="cs-text">
                    At Stein Design and Build, we are committed to providing exceptional remodeling and renovation services. With years of experience in the industry, our team of skilled professionals 
                    takes pride in delivering high-quality craftsmanship and personalized service. From the initial consultation to project completion, we work closely with our clients to ensure their 
                    vision becomes a reality, creating beautiful and functional spaces that enhance their lifestyle. Whether it's a kitchen overhaul, a bathroom update, or a full home remodel, we approach 
                    every project with meticulous attention to detail and a dedication to excellence.
                </p>
                <ul id="stats-833">
                    <li class="cs-item">
                        <span class="cs-stat-number">30+</span>
                        <h3 class="cs-h3">5 Star<br> Reviews</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-stat-number">100's</span>
                        <h3 class="cs-h3">Happy Customers</h3>
                    </li>
                    <li class="cs-item">
                        <span class="cs-stat-number">10,000+</span>
                        <h3 class="cs-h3">Sq Ft<br> Of Pavers</h3>
                    </li>
                </ul>
                <a href="about/" class="cs-button-4">MORE ABOUT US</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Why Choose Us                 -->
    <!-- ============================================ -->

    <section id="process-688">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">WHY CHOOSE US</span>
                <h2 class="cs-title">Experience and Quality You Can Trust In Syracuse, NY</h2>
                <p class="cs-text">
                    With over 15 years of experience, our commitment to quality and client satisfaction sets us apart. We understand that your home is more than just a place to live; it's where memories are made. We pride ourselves on delivering exceptional craftsmanship and personalized service to transform your vision into reality.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/experience.svg" alt="experience icon" width="42" height="42">
                    </picture>
                    <h3 class="cs-h3">Proven Expertise</h3>
                    <p class="cs-item-text">With over 15 years in the industry and a portfolio of diverse renovation projects, we bring a wealth of knowledge to each new venture.</p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/search.svg" alt="magnifying glass icon" width="42" height="42">
                    </picture>
                    <h3 class="cs-h3">Attention to Detail</h3>
                    <p class="cs-item-text">We ensure every remodeling project is executed with precision and meticulous attention to detail, guaranteeing top-notch results that exceed your expectations.</p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/service.svg" alt="ribbon icon" width="42" height="42">
                    </picture>
                    <h3 class="cs-h3">Quality Assurance</h3>
                    <p class="cs-item-text">We stand behind our remodeling work with comprehensive warranties, ensuring your investment is protected and built to last.</p>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/speech-bubble.svg" alt="text bubble icon" width="42" height="42">
                    </picture>
                    <h3 class="cs-h3">Clear Communication</h3>
                    <p class="cs-item-text">Our team prioritizes open and transparent communication, keeping you informed and involved throughout the entire renovation process.</p>
                </li>
            </ul>
        </div>
        <!--SVG Waves-->
        <img class="cs-background" loading="lazy" decoding="async" src="/assets/svgs/Images_Graphics_ripples.svg" aria-hidden="true" alt="svg waves" width="1280" height="568">
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">OUR PORTFOLIO</span>
            <h2 class="cs-title">Showcasing Our Exceptional Work</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0037.JPG">
                        <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0037.JPG">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Exterior/IMG_0037.JPG" alt="pool stone work" loading="lazy" width="700" height="525">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0061.JPG">
                        <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0061.JPG">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Exterior/IMG_0061.JPG" alt="stone walkway" loading="lazy" width="700" height="525">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0281.JPG">
                        <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0281.JPG">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Exterior/IMG_0281.JPG" alt="stone patio" loading="lazy" width="700" height="525">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/Interior/Ad-1-Nice-Fireplace.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Interior/Ad-1-Nice-Fireplace.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Interior/Ad-1-Nice-Fireplace.jpg" alt="new fireplace" loading="lazy" width="700" height="933">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/Interior/Ad-4-vanity.JPG">
                        <source media="(min-width: 601px)" srcset="/assets/images/Interior/Ad-4-vanity.JPG">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Interior/Ad-4-vanity.JPG" alt="bathroom remodel" loading="lazy" width="700" height="525">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/Interior/Ad-3-Shower.JPG">
                        <source media="(min-width: 601px)" srcset="/assets/images/Interior/Ad-3-Shower.JPG">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Interior/Ad-3-Shower.JPG" alt="shower remodel" loading="lazy" width="700" height="933">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_0570.JPG">
                        <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_0570.JPG">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Exterior/IMG_0570.JPG" alt="stone patio" loading="lazy" width="725" height="525">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_2961.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_2961.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Exterior/IMG_2961.jpg" alt="stone patio" loading="lazy" width="700" height="525">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/Exterior/IMG_1605.JPG">
                        <source media="(min-width: 601px)" srcset="/assets/images/Exterior/IMG_1605.JPG">
                        <img aria-hidden="true" decoding="async" src="/assets/images/Exterior/IMG_1605.JPG" alt="stone patio" loading="lazy" width="700" height="525">
                    </picture>
                </div>
            </div>
            <a href="projects/" class="cs-button-4">VIEW ALL</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs-418">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">FEATURED SERVICE</span>
                <h2 class="cs-title">Expand Your Living Space With The Perfect Home Addition</h2>
                <p class="cs-text">
                    Elevate your living space with Stein Design and Build's premier home addition services in Syracuse, NY. Whether you're dreaming of a spacious new bedroom, 
                    a sunlit dining area, or a versatile home office, our skilled team delivers custom solutions tailored to your unique needs. We specialize in creating seamless 
                    extensions that enhance both functionality and aesthetics while preserving the charm of your existing home. Our local expertise ensures that every project meets 
                    Syracuse's building codes and regulations, providing peace of mind and exceptional results.
                </p>
                <p class="cs-text">
                    We understand that home additions are a significant investment. Our comprehensive approach begins with detailed planning and design consultations, ensuring that 
                    your new space integrates perfectly with your current home. With our commitment to quality craftsmanship and attention to detail, you can trust us to bring your 
                    vision to life. Contact us today to explore the possibilities and experience the benefits of a beautifully expanded home in Syracuse.
                </p>
                <a href="" class="cs-button-4">GET FREE ESTIMATE</a>
            </div>
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/Exterior/entrance-luxury-house-with-mown-grass-lawn-front.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/Exterior/entrance-luxury-house-with-mown-grass-lawn-front.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/Exterior/entrance-luxury-house-with-mown-grass-lawn-front.jpg" alt="home front" width="800" height="1195">
                </picture>
                <!--Info Box-->
                <div class="cs-info">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/home.svg" alt="icon" width="48" height="48">
                    <div class="cs-flex">
                        <span class="cs-header">Home Additions</span>
                        <span class="cs-desc">Bathrooms, Bedrooms, & More...</span>
                    </div>
                </div>
                <!--Svg Green Trapezpid-->
                <img class="cs-trapezoid" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/trapezoid.svg" alt="yard" width="558" height="496">
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-345">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">ALL SERVICES</span>
                <h2 class="cs-title">Explore Our Extensive Range of Home Enhancement Services</h2>
                <p class="cs-text">
                    We offer a wide range of additional services designed to elevate both the functionality and aesthetics of your home. From creating stunning outdoor living spaces to updating 
                    your interiors, our expert team is dedicated to delivering high-quality craftsmanship and personalized solutions for all your home improvement needs. Explore our diverse range 
                    of services and discover how we can help you create the perfect space.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/brick-wall.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Retaining Walls</h3>
                        <p class="cs-item-text">
                            Build durable and visually appealing retaining walls to manage soil erosion and enhance landscape design.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/firepit.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Outdoor Kitchens & Firepits</h3>
                        <p class="cs-item-text">
                            Create a perfect outdoor entertaining area with custom kitchens and cozy firepits for year-round enjoyment.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/stairs.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Stairs</h3>
                        <p class="cs-item-text">
                            Design and install stylish and functional staircases that complement the design of your home and ensure safety.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/gazebo.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Pergolas & Gazebos</h3>
                        <p class="cs-item-text">
                            Add elegance and shade to your outdoor spaces with beautifully crafted pergolas and gazebos.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/lamp.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Driveways & Outdoor Lighting</h3>
                        <p class="cs-item-text">
                            Upgrade your driveway with durable materials and enhance your outdoor spaces with strategically placed lighting.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/bath.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Bathroom & Kitchen Remodels</h3>
                        <p class="cs-item-text">
                            Refresh your home with expert bathroom and kitchen remodeling that combines style, functionality, and modern conveniences.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/house.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Basement Finishing</h3>
                        <p class="cs-item-text">
                            Transform your basement into a versatile and inviting living area, perfect for a variety of uses from entertainment to additional living space.
                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/door.svg" loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Windows & Doors</h3>
                        <p class="cs-item-text">
                            Improve your home's energy efficiency and curb appeal with high-quality windows and doors tailored to your aesthetic and functional needs.
                        </p>
                    </a>
                </li>
            </ul>
            <a href="contact/" class="cs-button-4">CONTACT US</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-355">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">REVIEWS</span>
                <h2 class="cs-title">Trusted by Homeowners in Syracuse, NY</h2>
                <p class="cs-text">
                    Our commitment to quality craftsmanship and exceptional service has earned us the trust and satisfaction of homeowners throughout Syracuse, NY. Read what our clients have to say about their experience with Stein Design and Build and see why we're the preferred choice for home improvement.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                    <span class="cs-trait">Quality</span>
                    <p class="cs-review">
                        Andrew and his crew were professional, talented and had an amazing attention to detail. That's exactly what I would expect from a crew of Veterans. I highly recommend Stein Design and Build for all paver hardscaping and I will definitely be using them again in the future.
                    </p>
                    <span class="cs-name">- Todd</span>
                </li>
                <li class="cs-item">
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                    <span class="cs-trait">Professionalism</span>
                    <p class="cs-review">
                        Andrew and his team did a fantastic job of getting rid of my very old and unsightly pool concrete and updating it. The price was reasonable, the timing was great and the team was meticulous in making sure the job was done right! Highly recommend and have already sent friends along as well! It's like I have a brand new pool for a fraction of the cost!!!
                    </p>
                    <span class="cs-name">- Colleen</span>
                </li>
                <li class="cs-item">
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/quote-blue.svg" decoding="async" alt="quote icon" width="40" height="33">
                    <span class="cs-trait">Responsiveness</span>
                    <p class="cs-review">
                        Andrew has a vision that is both unique and beautiful. His work is some of the best we've seen and we are so proud of our beautiful patios, sidewalk and front wall. Andrew is professional in his communication and his work ethic exceeds expectations.
                    </p>
                    <span class="cs-name">- Judy</span>
                </li>
            </ul>
            <a href="contact/" class="cs-button-4">GET AN ESTIMATE</a>
        </div>
    </section>                     

    {% include 'components/cta.html' %}
{% endblock %}