/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---         Services           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-343 {
        padding: var(--sectionPadding);
        background: var(--primary-background);

        .cs-container {
            width: 100%;
            /* changes to 1440px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 1.6vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(500 / 16 * 1rem);
            // background-color: #383838;
            border: 2px solid #2a2a2a;
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
                transform: translateY(calc(-7 / 16 * 1rem));
                .cs-picture {
                    img {
                        opacity: 0.4;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--secondary);
                }
            }

            &:before {
                /* border, done in pseudo so it can sit under the picture */
                content: "";
                width: 100%;
                height: 100%;
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                background: transparent;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-link {
            text-decoration: none;
            /* 16px - 24px */
            padding-bottom: clamp(1rem, 2.2vw, 1.5rem);
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: calc(240 / 16 * 1rem);
            /* 16px - 24px */
            margin-bottom: clamp(1rem, 2.2vw, 1.5rem);
            background-color: #3E6680;
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            color: var(--bodyTextColor);
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color 0.3s;
        }

        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2.2vw, 1.5rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-343 {
        .cs-container {
            max-width: calc(1440 / 16 * 1rem);
        }

        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 48.9%;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-343 {
        .cs-item {
            /* we do this so it's stackable. You can add any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 22.5vw or 23% to get the desired sizes fit 4 in a row and then stack when you add more */
            width: clamp(23.8%, 23vw, 23.95%);
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-683 {
        padding: var(--sectionPadding);
        /* clips the zigzag graphic so it doesn't cause overflow issues */
        overflow: hidden;
        background: var(--alt-background);

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* everything inside the image group is in ems so the font size will scale them down.  Font size minimum is tied to view width size, and grows until it reaches 75% of the value on em */
            font-size: min(2.3vw, 0.75em);
            width: calc(632 / 16 * 1em);
            height: calc(820 / 16 * 1em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: calc(306 / 16 * 1em);
            height: calc(360 / 16 * 1em);
            overflow: hidden;
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            top: calc(80 / 16 * 1em);
            left: 0;
        }

        .cs-picture2 {
            top: 0;
            right: 0;
        }

        .cs-picture3 {
            bottom: 0;
            left: 0;
        }

        .cs-picture4 {
            bottom: calc(80 / 16 * 1em);
            right: 0;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-683 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-298 {
        padding: var(--sectionPadding);
        background: var(--primary-background);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-link {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 700;
            text-decoration: none;
            color: var(--primary);
        }

        .cs-image-group {
            width: 100%;
            max-width: calc(550 / 16 * 1rem);
            /* 78px - 108px */
            margin: 0 auto clamp(4.875rem, 16.5vw, 6.75rem);
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 328/363;
        }

        .cs-picture {
            /* big background image */
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-box {
            /* 204px - 326px & changes at desktop */
            width: clamp(12.75rem, 50vw, 20.375rem);
            height: clamp(12.75rem, 50vw, 20.375rem);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            /* 38px - 60px - wrapped in a calc function to make clamp values negative */
            bottom: calc(clamp(2.375rem, 7.9vw, 3.75rem) * -1);
            transform: translateX(-50%);
            z-index: 10;
        }

        .cs-box-picture {
            /* Background image for cs-box */
            width: 100%;
            height: 100%;
            background-color: #000;
            /* clips img corners and bg corners */
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.65;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-number {
            /* 75px - 100px */
            font-size: clamp(6.6875rem, 10vw, 8.25rem);
            font-family: "Rokkitt";
            line-height: 1em;
            font-weight: 900;
            margin-bottom: calc(8 / 16 * 1rem);
            color: black;
            /* creates the transparent clipping text */
            mix-blend-mode: screen;
            display: block;
            z-index: 10;

            &:before {
                /* opaque white box - For mix-blend-mode to work, we need the 
                   white box inside the .cs-number, so we use a pseudo element.
                   We DON'T add a position to the cs-number so the pseudo positions
                   itself relative to the .cs-box, which has position relative. This
                   allows us to center to .cs-number pseudo inside the .cs-box */
                content: "";
                /* 184px - 294px & changes at desktop */
                width: clamp(11.5rem, 45vw, 18.375rem);
                height: clamp(11.5rem, 45vw, 18.375rem);
                opacity: 1;
                background-color: #fff;
                position: absolute;
                display: block;
                /* these next 3 properties are an old school way to center an absolutely
                   positioned element inside a relative position parent */
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
        }

        .cs-desc {
            /* 16px - 25px */
            font-size: clamp(1rem, 4vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: lowercase;
            text-align: center;
            width: 80%;
            color: black;
            position: relative;
            z-index: 10;
        }

        /* Mobile - 360px */
        #stats-833 {
            width: 100%;
            max-width: 25rem;
            padding: 0;
            padding-bottom: calc(68 / 16 * 1rem);
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 0.75rem;
        }
        #stats-833 .cs-item {
            list-style: none;
            width: 32%;
            max-width: 9.375rem;
            /* making flex so we can align a heading with 1 line to the bottom */
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-content: space-between;
        }
        #stats-833 .cs-stat-number {
            /* 39px - 49px */
            font-size: clamp(2.0rem, 4.5vw, 2.5rem);
            font-family: "Rokkitt";
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            color: var(--primary);
            display: block;
            /* 8px - 16px */
            margin: 0 0 clamp(0.25rem, 0.5vw, 1rem);
        }
        #stats-833 .cs-h3 {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            font-family: "Montserrat";
            font-weight: 400;
            line-height: 1.2em;
            text-align: left;
            /* auto margin top will push text to bottom if there's only one line */
            margin: auto 0 0;
            color: var(--bodyTextColorWhite);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-298 {
        /* aligns the button */
        text-align: left;
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            gap: calc(160 / 16 * 1rem);
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-image-group {
            width: 40vw;
            max-width: calc(521 / 16 * 1rem);
            /* 520px - 672px */
            height: clamp(32.5rem, 51.9vw, 42rem);
            margin: 0;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-box {
            /* 251px - 325px */
            width: clamp(15.6875rem, 24.5vw, 20.3125rem);
            height: clamp(15.6875rem, 24.5vw, 20.3125rem);
            left: auto;
            transform: none;
            /* -52px to -102px */
            left: calc(clamp(3.25rem, 5.5vw + 1.6rem, 6.375rem) * -1);
            /* 62px - 80px */
            bottom: clamp(3.875rem, 6.2vw, 5rem);
        }

        .cs-stat-number {
            &:before {
                /* 226px - 293px */
                width: clamp(14.125rem, 22.7vw, 18.3125rem);
                height: clamp(14.125rem, 22.7vw, 18.3125rem);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Why Choose        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #process-688 {
        padding: var(--sectionPadding);
        background: var(--button-primary);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--bodyTextColor);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            column-gap: calc(20/16 * 1rem);
            row-gap: calc(40/16 * 1rem);
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
            max-width: calc(413/16 * 1rem);
        }

        .cs-picture {
            width: calc(100/16 * 1rem);
            height: calc(100/16 * 1rem);
            margin: auto;
            margin-bottom: calc(24/16 * 1rem);
            background-color: var(--primary-background);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: auto;
            height: calc(44/16 * 1rem);
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            font-weight: 700;
            margin: 0;
            margin-bottom: calc(12/16 * 1rem);
            color: #fff;
        }

        .cs-item-text {
            font-size: calc(16/16 * 1rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColorWhite);
        }

        .cs-background {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0.02;
            /* Makes img tag act as a background image */
            object-fit: cover;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #process-688 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .cs-item {
            width: 48%;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #process-688 {
        .cs-item {
            width: clamp(23.45%, 22vw, 23.8%);
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0rem) {
    #gallery {
        position: relative;
        /* Prevents overflow from the image going off screen */
        overflow: hidden;
        padding: var(--sectionPadding);
        /* Centers button */
        text-align: center;
        background: var(--primary-background);
        .cs-container {
            margin: auto;
            max-width: calc(1322 / 16 * 1em);
            width: 100%;
        }

        .cs-topper {
            margin-bottom: calc(16 / 16 * 1rem);
            text-align: center;
        }

        .cs-title {
            margin-bottom: calc(40 / 16 * 1rem);
            max-width: calc(621 / 16 * 1rem);
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .cs-image-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin: 0 auto calc(60 / 16 * 1rem);
            max-width: calc(1322 / 16 * 1em);
            width: 100%;
            padding: 0;
            /* used rem so it doesn't scale with the font size of on parent */
            font-size: min(1.1vw, 1em);
            gap: calc(30 / 16 * 1em);
        }

        .cs-row {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: calc(30 / 16 * 1em);
        }

        .cs-picture {
            position: relative;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-row-1 {
            .cs-picture1 {
                height: calc(567 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture2 {
                height: calc(629 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture3 {
                height: calc(512 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }
        }

        .cs-row-2 {
            .cs-picture1 {
                height: calc(492 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture2 {
                height: calc(517 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture3 {
                height: calc(629 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }
        }

        .cs-row-3 {
            .cs-picture1 {
                height: calc(625 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture2 {
                height: calc(452 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }

            .cs-picture3 {
                height: calc(629 / 16 * 1em);
                width: calc(420 / 16 * 1em);
            }
        }
    }
}

/* Dark mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-418 {
        padding: var(--sectionPadding);
        background: var(--alt-background);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 48px - 76px */
            gap: clamp(3rem, 9vw, 4.75rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(522 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-image-group {
            width: 100%;
            /* changes to 650px at desktop */
            max-width: calc(550 / 16 * 1rem);
            height: auto;
            /* removed at desktop */
            padding-top: calc(30 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            order: -1;
        }

        .cs-info {
            /* 12px - 20px */
            padding: clamp(0.75rem, 1.5vw, 1.25rem);
            /*260px - 360px */
            min-width: clamp(16.25rem, 30vw, 22.5rem);
            background-color: var(--primary-background);
            border: 1px solid #b4b2c7;
            border-radius: calc(12 / 16 * 1rem);
            box-shadow: 0 12px 28px -8px rgba(0, 0, 0, 0.4);
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: absolute;
            /* next two properties centers it horizontally */
            left: 50%;
            transform: translateX(-50%);
            bottom: calc(20 / 16 * 1rem);
        }

        .cs-icon {
            /* 32px - 48px */
            width: clamp(2rem, 4vw, 3rem);
            height: auto;
            margin-right: calc(12 / 16 * 1rem);
        }

        .cs-header {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            font-weight: 700;
            line-height: 1.2em;
            margin-bottom: calc(4 / 16 * 1rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.2em;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 85%;
            max-width: calc(558 / 16 * 1rem);
            margin-bottom: calc(40 / 16 * 1rem);
            /* removed at tablet */
            aspect-ratio: 272/269;
            /* clips img corners */
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }

        .cs-trapezoid {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-418 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        .cs-content {
            width: 50%;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-image-group {
            max-width: calc(659 / 16 * 1rem);
        }

        .cs-picture {
            /* 269px - 496px changes at desktop */
            height: clamp(16.8125rem, 35vw, 31rem);
            aspect-ratio: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-418 {
        .cs-container {
            align-items: center;
        }

        .cs-image-group {
            max-width: calc(650 / 16 * 1rem);
            padding: 0;
        }

        .cs-picture {
            /* 421px - 496px changes at desktop */
            height: clamp(26.3125rem, 40vw, 31rem);
        }

        .cs-info {
            left: auto;
            right: calc(18 / 16 * 1rem);
            transform: none;
        }

        .cs-trapezoid {
            height: 80%;
            bottom: 0;
        }
    }
}

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-345 {
        /* centers the button */
        text-align: center;
        padding: var(--sectionPadding);
        background: var(--primary-background);

        .cs-container {
            width: 100%;
            max-width: calc(1440 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(500 / 16 * 1rem);
            /* 16px - 32px */
            padding: clamp(1rem, 2vw, 2rem);
            border: 1px solid #e8e8e8;
            box-sizing: border-box;
            transition:
                background-color 0.3s,
                transform 0.3s,
                box-shadow 0.3s;

            &:hover {
                background-color: #252525;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
                transform: translateY(calc(-7 / 16 * 1rem));

                .cs-picture {
                    &:before {
                        width: 100%;
                        height: 100%;
                        opacity: 1;
                    }
                }
            }
        }

        .cs-link {
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
        }

        .cs-picture {
            width: calc(80 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
            margin: 0;
            margin-bottom: calc(24 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #363636;
            position: relative;
            z-index: 1;
        }

        .cs-icon {
            height: calc(32 / 16 * 1rem);
            width: auto;
        }

        .cs-h3 {
            font-size: calc(20 / 16 * 1rem);
            font-weight: 900;
            text-align: center;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: calc(12 / 16 * 1rem);
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-item-text {
            font-size: calc(16 / 16 * 1rem);
            text-align: center;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            transition: color 0.3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-345 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
        }

        .cs-item {
            width: 48.9%;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-345 {
        .cs-item {
            /* we do this so it's stackable. You can add any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of cards, they don't stay centered, they align with their grid lines. This way its more FLEX-ible*/
            width: clamp(23.47%, 22vw, 23.955%);
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-355 {
        padding: var(--sectionPadding);
        background: var(--alt-background);

        .cs-container {
            width: 100%;
            max-width: calc(1440 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            margin: 0;
            /* 24px - 32px top & bottom */
            /* 16px - 40px left & right */
            padding: clamp(1.5rem, 3.15vw, 2rem) clamp(1rem, 3.15vw, 2.5rem);
            background-color: var(--primary-background);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
        }

        .cs-quote {
            width: calc(40 / 16 * 1rem);
            height: auto;
            margin-bottom: calc(32 / 16 * 1rem);
            display: block;
        }

        .cs-review {
            /* 14px - 20px */
            font-size: var(bodyFontSize);
            line-height: 1.5em;
            margin: 0;
            /* 20px - 40px */
            margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
            color: var(--bodyTextColor);
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--primary);
            display: block;
        }

        .cs-trait {
            /* 14px - 16px */
            font-size: clamp(1.5rem, 2vw, 1.5rem);
            line-height: 1.5em;
            margin-bottom: clamp(0.75rem, 1.75vw, 1.5rem);
            // margin: 0;
            color: var(--bodyTextColor);
            font-family: "Rokkitt";
            font-weight: 800;
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-355 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
        }

        .cs-item {
            width: clamp(31.5%, 30vw, 32.3%);
        }
    }
}

                                                                                             

                                
